<div class="page-header">
  <h1>{{.opts.Model.Group}}</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= new{{.opts.Name.Resource}}Path() %>" class="btn btn-primary">Create New {{.opts.Model.Proper}}</a></li>
</ul>

<table class="table table-striped">
  <thead>
  {{ range $p := .opts.Props -}}
    {{ if ne $p.Type "text" -}}
    <th>{{ $p.Name }}</th>
    {{ end -}}
  {{ end -}}
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for ({{.opts.Model.VarCaseSingle}}) in {{.opts.Model.VarCasePlural}} { %>
      <tr>
      {{ range $mp := .opts.Props -}}
        {{ if ne $mp.Type "text" -}}
        <td><%= {{$.opts.Model.VarCaseSingle}}.{{$mp.Name}} %></td>
        {{ end -}}
      {{ end -}}
        <td>
          <div class="pull-right">
            <a href="<%= {{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= {{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
