<div class="page-header">
  <h1>{{.opts.Model.Proper}}#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= {{.opts.Name.VarCasePlural}}Path() %>" class="btn btn-info">Back to all {{.opts.Model.Group}}</a></li>
  <li class="list-inline-item"><a href="<%= edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= {{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

{{ range $p := .opts.Props -}}
<p>
  <strong>{{ $p.Name }}</strong>: <%= {{$.opts.Model.VarCaseSingle}}.{{$p.Name}} %>
</p>
{{ end -}}

