- id: "{{.opts.Model.Singularize.Underscore}}.created.success"
  translation: "{{.opts.Model.Proper}} was successfully created."
- id: "{{.opts.Model.Singularize.Underscore}}.updated.success"
  translation: "{{.opts.Model.Proper}} was successfully updated."
- id: "{{.opts.Model.Singularize.Underscore}}.destroyed.success"
  translation: "{{.opts.Model.Proper}} was successfully destroyed."
