package actions

import (
  "net/http"

  "github.com/gobuffalo/buffalo"
)

type {{.opts.Name.Resource}}Resource struct{
  buffalo.Resource
}

{{ range $a := .actions }}
// {{$a.Pascalize}} default implementation.
func (v {{$.opts.Name.Resource}}Resource) {{$a.Pascalize}}(c buffalo.Context) error {
  return c.Render(http.StatusOK, r.String("{{$.opts.Model.Proper}}#{{$a.String}}"))
}

{{end}}
