<div class="page-header">
  <h1>New {{.opts.Model.Model}}</h1>
</div>

<%= form_for({{.opts.Model.VarCaseSingular}}, {action: {{.opts.Name.VarCasePlural}}Path(), method: "POST"}) { %>
  <%= partial("{{.opts.FilesPath}}/form.html") %>
  <a href="<%= {{.opts.Name.VarCasePlural}}Path() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
