- id: "{{.opts.Model.Underscore.Singularize}}.created.success"
  translation: "{{.opts.Model.Proper}} was successfully created."
- id: "{{.opts.Model.Underscore.Singularize}}.updated.success"
  translation: "{{.opts.Model.Proper}} was successfully updated."
- id: "{{.opts.Model.Underscore.Singularize}}.destroyed.success"
  translation: "{{.opts.Model.Proper}} was successfully destroyed."
