language: go

go:
  - "1.11.x"

env:
  - GO_ENV=test

{{ if eq .opts.DBType "postgres" -}}
services:
  - postgresql
{{- end }}

before_script:
{{- if eq .opts.DBType "postgres" }}
  - psql -c 'create database {{.opts.App.Name.File}}_test;' -U postgres
{{- end }}
  - mkdir -p $TRAVIS_BUILD_DIR/public/assets

go_import_path: {{.opts.App.PackagePkg}}

install:
  - go get github.com/gobuffalo/buffalo/buffalo
  - go mod download

script: buffalo test
