package actions_test

import (
	"testing"

	"github.com/gobuffalo/suite"
	"{{ .actionsPath }}"
	"{{ .configPath }}"
)

type ActionSuite struct {
	*suite.Action
}

func Test_ActionSuite(t *testing.T) {
	as := &ActionSuite{suite.NewAction(config.App())}
	suite.Run(t, as)
}
