package actions

import (
	"testing"

	"github.com/gobuffalo/suite"
)

type ActionSuite struct {
	*suite.Action
}

func Test_ActionSuite(t *testing.T) {
	as := &ActionSuite{suite.NewAction(App())}
	suite.Run(t, as)
}

func (as *ActionSuite) TableChange(table string, count int, fn func()) {
	scount, err := as.DB.Count(table)
	as.NoError(err)

	fn()

	ecount, err := as.DB.Count(table)
	as.NoError(err)
	as.Equal(count, ecount-scount)
}