package actions_test

import (
	"testing"

	"{{ .actionsPath }}"
	"github.com/markbates/willie"
	"github.com/stretchr/testify/require"
)

func (as *ActionSuite) Test_HomeHandler() {
	res := as.HTML("/").Get()

	as.Equal(200, res.Code)
	as.Contains(res.Body.String(), "Welcome to Buffalo!")
}
