package actions

import (
  {{ if .opts.AsWeb -}}
  "github.com/gobuffalo/packr"
  {{ end -}}
  "github.com/gobuffalo/buffalo/render"
)

var r *render.Engine
{{ if .opts.AsWeb -}}
var assetsBox = packr.NewBox("../public/assets")
{{ end -}}

func init() {
  r = render.New(render.Options{
    {{ if .opts.AsWeb -}}
      // HTML layout to be used for all HTML requests:
      HTMLLayout:     "application.html",

      // Box containing all of the templates:
      TemplatesBox: packr.NewBox("../templates"),
      AssetsBox:    assetsBox,

      // Add template helpers here:
      Helpers: render.Helpers{},
    {{ end -}}
  })
}
