package actions_test

import (
	"testing"

	"github.com/stretchr/testify/require"
)
{{ range $a := .actions }}
func Test_{{$.camel}}Resource_{{ camelize $a }}(t *testing.T) {
	r := require.New(t)
	r.Fail("Not Implemented!")
}
{{ end }}
