package actions

import "github.com/gobuffalo/buffalo"

type {{.opts.Name.Resource}}Resource struct{
	buffalo.Resource
}

{{ range $a := .actions }}
// {{$a}} default implementation.
func (v {{$.opts.Name.Resource}}Resource) {{$a}}(c buffalo.Context) error {
	return c.Render(200, r.String("{{$.opts.Model.Model}}#{{$a}}"))
}

{{end}}
