package actions

import (
	"testing"

	"github.com/stretchr/testify/require"
)
{{ range $a := .actions }}
func (as *ActionSuite) Test_{{$.camel}}Resource_{{ camelize $a }}() {
	as.Fail("Not Implemented!")
}
{{ end }}
