{{ if eq .opts.Bootstrap 4 -}}
@import "~bootstrap/scss/bootstrap.scss";
{{ else -}}
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
{{ end -}}
@import "~font-awesome/css/font-awesome.css";
