<html>
  <head>
    <meta charset="utf-8">
    <title>Buffalo - {{ .titleName }}</title>
    <link rel="stylesheet" href="/assets/application.css" type="text/css" media="all" />
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <script src="/assets/application.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
