package actions

import (
	"net/http"
	"github.com/gobuffalo/buffalo"
)

// UserIndex default implementation.
func UserIndex(c buffalo.Context) error {
	return c.Render(http.StatusOK, r.HTML("user/index.html"))
}
