package routes

import (
  "github.com/gobuffalo/buffalo"
  "github.com/gobuffalo/buffalo/middleware"
  "{{.configPath}}"
  "{{.actionsPath}}"
  {{ if .withPop }}
  "{{.modelsPath}}"
  {{ end }}
  "github.com/gobuffalo/packr"
)

var app *buffalo.App

// App is where all routes and middleware for buffalo
// should be defined. This is the nerve center of your
// application.
func App() *buffalo.App {
  if app == nil {
    app = buffalo.Automatic(buffalo.Options{
      Env: config.ENV,
      SessionName: "_{{.name}}_session",
    })
    if config.ENV == "development" {
      app.Use(middleware.ParameterLogger)
    }
    // Protect against CSRF attacks. https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)
    // Remove to disable this.
    app.Use(middleware.CSRF)

    {{ if .withPop }}
    app.Use(middleware.PopTransaction(models.DB))
    {{ end }}

    // Setup and use translations:
    app.Use(config.T.Middleware())

    app.GET("/", actions.HomeHandler)

    app.ServeFiles("/assets", packr.NewBox("../public/assets"))
  }

  return app
}
