- id: "{{.opts.ModelName.UnderSingular}}.created.success"
  translation: "{{.opts.ModelName.Model}} was successfully created."
- id: "{{.opts.ModelName.UnderSingular}}.updated.success"
  translation: "{{.opts.ModelName.Model}} was successfully updated."
- id: "{{.opts.ModelName.UnderSingular}}.destroyed.success"
  translation: "{{.opts.ModelName.Model}} was successfully destroyed."
