- id: "{{.opts.Model.UnderSingular}}.created.success"
  translation: "{{.opts.Model.Model}} was successfully created."
- id: "{{.opts.Model.UnderSingular}}.updated.success"
  translation: "{{.opts.Model.Model}} was successfully updated."
- id: "{{.opts.Model.UnderSingular}}.destroyed.success"
  translation: "{{.opts.Model.Model}} was successfully destroyed."
