- id: "{{.under}}.created.success"
  translation: "{{.model}} was successfully created."
- id: "{{.under}}.updated.success"
  translation: "{{.model}} was successfully updated."
- id: "{{.under}}.destroyed.success"
  translation: "{{.model}} was successfully destroyed."
