<div class="page-header">
  <h1>{{.opts.Model.Group}}</h1>
</div>
<ul class="list-unstyled list-inline">
  <li>
    <%= linkTo(new{{.opts.Name.Resource}}Path(), {class: "btn btn-primary"}) { %>
      Create New {{.opts.Model.Proper}}
    <% } %>
  </li>
</ul>

<table class="table table-striped">
  <thead>
  {{ range $p := .opts.Attrs -}}
    {{ if ne $p.CommonType "text" -}}
    <th>{{ $p.Name.Pascalize }}</th>
    {{ end -}}
  {{ end -}}
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for ({{.opts.Model.VarCaseSingle}}) in {{.opts.Model.VarCasePlural}} { %>
      <tr>
      {{ range $mp := .opts.Attrs -}}
        {{ if ne $mp.CommonType "text" -}}
        <td><%= {{$.opts.Model.VarCaseSingle}}.{{$mp.Name.Pascalize}} %></td>
        {{ end -}}
      {{ end -}}
        <td>
          <div class="pull-right">
            <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
