<div class="py-4 mb-2">
  <h3 class="d-inline-block">{{.opts.Model.Group}}</h3>
  <div class="float-right">
    <%= linkTo(new{{.opts.Name.Resource}}Path(), {class: "btn btn-primary"}) { %>
      Create New {{.opts.Model.Proper}}
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    {{ range $p := .opts.Attrs -}}
      {{- if ne $p.CommonType "text" -}}
      <th>{{ $p.Name.Pascalize }}</th>
      {{- end -}}
    {{- end }}
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for ({{.opts.Model.VarCaseSingle}}) in {{.opts.Model.VarCasePlural}} { %>
      <tr>
        {{ range $mp := .opts.Attrs -}}
          {{- if ne $mp.CommonType "text" -}}
        <td class="align-middle"><%= {{$.opts.Model.VarCaseSingle}}.{{$mp.Name.Pascalize}} %></td>
          {{- end -}}
        {{- end }}
        <td>
          <div class="float-right">
            <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
