<div class="py-4 mb-2">
  <h3 class="d-inline-block">New {{.opts.Model.Proper}}</h3>
</div>

<%= formFor({{.opts.Model.VarCaseSingle}}, {action: {{.opts.Name.VarCasePlural}}Path(), method: "POST"}) { %>
  <%= partial("{{.folder}}/form.html") %>
  <%= linkTo({{.opts.Name.VarCasePlural}}Path(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
