<div class="py-4 mb-2">
  <h3 class="d-inline-block">{{.opts.Model.Proper}} Details</h3>

  <div class="float-right">
    <%= linkTo({{.opts.Name.VarCasePlural}}Path(), {class: "btn btn-info"}) { %>
      Back to all {{.opts.Model.Group}}
    <% } %>
    <%= linkTo(edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">
{{ range $p := .opts.Attrs }}

  <li class="list-group-item pb-1">
    <label class="small d-block">{{ $p.Name.Pascalize }}</label>
    <p class="d-inline-block"><%= {{$.opts.Model.VarCaseSingle}}.{{$p.Name.Pascalize}} %></p>
  </li>

{{ end }}
</ul>
