<div class="page-header">
  <h1>{{.opts.Model.Proper}}#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item">
    <%= linkTo({{.opts.Name.VarCasePlural}}Path(), {class: "btn btn-info"}) { %>
      Back to all {{.opts.Model.Group}}
    <% } %>
  </li>
  <li class="list-inline-item">
    <%= linkTo(edit{{.opts.Name.Proper}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-warning", body: "Edit"}) %>
  </li>
  <li class="list-inline-item">
    <%= linkTo({{.opts.Name.VarCaseSingle}}Path({ {{.opts.Name.ParamID}}: {{.opts.Model.VarCaseSingle}}.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </li>
</ul>

{{ range $p := .opts.Attrs -}}
<p>
  <strong>{{ $p.Name.Pascalize }}</strong>: <%= {{$.opts.Model.VarCaseSingle}}.{{$p.Name.Pascalize}} %>
</p>
{{ end -}}

