{{ range $p := .opts.Attrs -}}
{{ if eq $p.CommonType "text" -}}
<%= f.TextAreaTag("{{$p.Name.Pascalize}}", {rows: 10}) %>
{{ else -}}
{{ if eq $p.CommonType "bool" -}}
<%= f.CheckboxTag("{{$p.Name.Pascalize}}", {unchecked: false}) %>
{{ else -}}
<%= f.InputTag("{{$p.Name.Pascalize}}") %>
{{ end -}}
{{ end -}}
{{ end -}}

<button class="btn btn-success" role="submit">Save</button>
