package actions

func (as *ActionSuite) Test_AdminWidgetsResource_List() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_Show() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_Create() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_Update() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_Destroy() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_New() {
  as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_AdminWidgetsResource_Edit() {
  as.Fail("Not Implemented!")
}
