package main

import (
  "log"

  "{{ .opts.ActionsPkg }}"
  //This loads .env to be able via os.Getenv
  _ "github.com/joho/godotenv/autoload"
)

func main() {
  app := actions.App()
  if err := app.Serve(); err != nil {
    log.Fatal(err)
  }
}
