package actions

import "github.com/gobuffalo/buffalo"

func App() *buffalo.App {
	if app == nil {
		app.Resource("/widgets", WidgetsResource{})
		app.ServeFiles("/", assetsBox) // serve files from the public directory
	}
	return app
}
