<h1>New {{.model}}</h1>

<%= form_for({{.varSingular}}, {action: "/{{.under}}", method: "POST", errors: errors}) { %>
  <%= partial("{{.modelPluralUnder}}/form.html") %>
  <a href="/{{.under}}" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
