<div class="page-header">
  <h1>New {{.model}}</h1>
</div>

<%= form_for({{.varSingular}}, {action: {{.routeFirstDown}}Path(), method: "POST"}) { %>
  <%= partial("{{.filesPath}}/form.html") %>
  <a href="<%= {{.routeFirstDown}}Path() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
