<div class="page-header">
  <h1>Edit {{.model}}</h1>
</div>

<%= form_for({{.varSingular}}, {action: {{.routeFirstDownSingular}}Path({ {{.resourceSingularUnder}}_id: {{.varSingular}}.ID }), method: "PUT"}) { %>
  <%= partial("{{.filesPath}}/form.html") %>
  <a href="<%= {{.routeFirstDown}}Path({ {{.modelSingularUnder}}_id: {{.varSingular}}.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
