<h1>{{.camel}}#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="/{{$.plural}}" class="btn btn-info">Back to all {{.modelPlural}}</a></li>
  <li><a href="/{{$.plural}}/<%= {{$.varSingular}}.ID %>/edit" class="btn btn-warning">Edit</a></li>
  <li><a href="/{{$.plural}}/<%= {{$.varSingular}}.ID %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

{{ range $p := .modelProps -}}
<p>
  <strong>{{ $p }}</strong>: <%= {{$.varSingular}}.{{$p}} %>
</p>
{{ end -}}

