<% let args = ["Title","Body"] %>
 <%= for (val) in args { %>
 <div>
  <label for="<%= val %>"><%= val %>:</label>
  <input type="text" name="<%= val %>" id="<%= val %>" value="<%= {{.modelPlural}}+"."+val %>" />
</div>
  <% } %>

<div>
  <input type="submit" value="Save" />
</div>