<h1>New {{.model}}</h1>

<%= partial("{{.modelPluralUnder}}/errors.html") %>
<form action="/{{.under}}" method="POST" accept-charset="utf-8">
  <%= partial("{{.modelPluralUnder}}/form.html") %>
</form>
