package actions

import (
    "net/http"
    
	"github.com/gobuffalo/buffalo"
)

// UserEdit default implementation.
func UserEdit(c buffalo.Context) error {
  // custom existing work
	return c.Render(http.StatusOK, r.HTML("user/edit.html"))
}

// UserShow default implementation.
func UserShow(c buffalo.Context) error {
	return c.Render(http.StatusOK, r.HTML("user/show.html"))
}
