package actions

import (
	"testing"

	"github.com/stretchr/testify/require"
)

func (as *ActionSuite) Test_User_Edit() {
  // custom test work
	as.Fail("Not Implemented!")
}

func (as *ActionSuite) Test_User_Show() {
	as.Fail("Not Implemented!")
}
